@model Web.Models.BooksModel

@foreach (var book in Model.Books)
{
    var isChecked = book.IsMakred ? "checked" : String.Empty;

    <div class="book-item col-sm-6 col-md-4">
        <input type="checkbox" @isChecked onchange="bookMark(this,@book.Isbn); return false;" />
        <div><img id="bookImg" src="@book.ImageUrl" /></div>
        <div><span>@book.Isbn</span></div>
        <div><span>@book.Title</span></div>
        <div><span class="authors">@book.Authors</span></div>
        @for (int i = 1; i < 6; i++)
        {
            var src = i <= book.Rating ? "starY.svg" : "starG.svg";
            src = "/Content/Images/" + src;
            <img src="@src"/>
        }
    </div>
}

